
<form>
    <h4>Domicilio Fiscal</h4>
       
<div class="form-group">
    <label>Calle y Num. Ext:</label>
    <input type="text" name="" id="">

</div>        

<div class="form-group">
    <label>Num Int:</label>
    <input type="number" name="" id="">

</div>        
<div class="form-group">
    <label>Colonia:</label>
    <input type="text" name="" id="">
</div>        

<div class="form-group">
    <label>Codigo Postal:</label>
    <input type="number" name="" id="">
</div>   

<div class="form-group">
    <label>Estado:</label>
    <select name="" id="">
        <option value="1">Opcion 1</option>

    </select>
   
</div>  

<div class="form-group">
    <label>Del/Municipio:</label>
    <select name="" id="">
        <option value="2">Opcion 2</option>
    </select>
</div>  

<div class="form-group">
    <label>Ciudad:</label>
    <input type="text" name="" id="">
</div>  

    <button>Next</button>

</form>
