<h4>Conceptos vs Cuentas Contables</h4>

<table >
    <thead>
        <tr>
          
            <th>Frecuencia de Pago</th>
            <th>Concepto</th>
            <th>Cuenta Contable</th>
            <th>Cargo/Abono</th>
            <th>Suma/Resta</th>
          
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>Semanal</td>
            <td>1000 sueldo</td>
            <td>
                <select name="ctaContable" id="">
                    <option value="0">Opcion 1</option>
                </select>
            </td>
            <td>
                <input type="radio" name="cargoAbono" value="cargo">
                <label for="">Cargo</label>
                <input type="radio" name="cargoAbono" value="abono">
                <label for="">Abono</label>
            </td>
            <td>
                <input type="radio" name="sumaResta" value="suma">
                <label for="">Suma</label>
                <input type="radio" name="sumaResta" value="resta">
                <label for="">Resta</label>
            </td>
   
         </tr>        
        <tr>
            <td>Semanal</td>
            <td>1005 Horas Extras Dobles Gravables</td>
            <td>
                <select name="" id="">
                    <option value="">Opcion 1</option>
                </select>
            </td>
            <td>
                <input type="radio" name="cargoAbono" value="cargo">
                <label for="">Cargo</label>
                <input type="radio" name="cargoAbono" value="abono">
                <label for="">Abono</label>
            </td>
            <td>
                <input type="radio" name="sumaResta" value="suma">
                <label for="">Suma</label>
                <input type="radio" name="sumaResta" value="resta">
                <label for="">Resta</label>
            </td>

        </tr>

    </tbody>
</table>
<button>Terminar</button>
