
    <form>
        <h4>Certificado para IDSE</h4>
           
    <div class="form-group">
        <label>Archivo:</label>
        <input type="text" name="archivo" id="">
    
    </div>        
    
    <div class="form-group">
        <label>Usuario:</label>
        <input type="text" name="usuario" id="">
    
    </div>        
    <div class="form-group">
        <label>Confirmar Usuario:</label>
        <input type="text" name="confirmUsuario" id="">
    </div>        
    
    <div class="form-group">
        <label>Contraseña:</label>
        <input type="password" name="pass" id="">
    </div>   
    <div class="form-group">
        <label>Confirmar Contraseña:</label>
        <input type="password" name="confirmPass" id="">
    </div>   
    <button>Guardar</button>

    <button>Next</button>
    
    
    </form>
    
    
