<h4>Registro Patronales</h4>
<div class="icon">
    <mat-icon class="center-self">add</mat-icon>
</div>

<table >
    <thead>
        <tr>
          
            <th>Tipo de Nomina</th>
            <th>Ambiguedad</th>
            <th>Dias de Vacaciones</th>
            <th>Prima Vacacional</th>
            <th>Dias de Aguinaldo</th>
            <th>Fondo de Ahorro</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        <tr>
   
            <td>Semanal</td>
            <td>1 año</td>
            <td>6</td>
            <td>25%</td>
            <td>15</td>
            <td>5%</td>
            <td>
                <mat-icon class="center-self">delete</mat-icon>
                <mat-icon class="center-self">edit</mat-icon>
                <mat-icon class="center-self">content_copy</mat-icon>
            </td>  
         </tr>        
        <tr>

            <td>Semanal</td>
            <td>2 año</td>
            <td>8</td>
            <td>50%</td>
            <td>15</td>
            <td>10%</td>
            <td>
                <mat-icon class="center-self">delete</mat-icon>
                <mat-icon class="center-self">edit</mat-icon>
                <mat-icon class="center-self">content_copy</mat-icon>
            </td>
        </tr>
        <tr>

            <td><select name="tipoNomina" id=""><option value="1">Opcion 1</option></select></td>
            <td><input type="text" name="ambiguedad" id=""></td>
            <td><input type="number" name="diasVacaciones" id=""></td>
            <td><input type="text" name="primaVacacional" id=""></td>
            <td><input type="number" name="diasAguinaldo" id=""></td>
            <td><input type="text" name="fondoAhorro" id=""></td>
            <td>
                <mat-icon class="center-self">delete</mat-icon>
                <mat-icon class="center-self">done</mat-icon>
            </td>
        </tr>

    </tbody>
</table>
<button>Next</button>
