<h4>Otras tablas de Prestacion</h4>
<div class="icon">
    <mat-icon class="center-self">add</mat-icon>
</div>

<table >
    <thead>
        <tr>
            <th>Prestación</th>
            <th>Respuesta</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>¿Si nomina tiene division de departamentos?</td>
            <td>
                <input type="radio" name="divisionDepart" id="" value="si">
               <label for="">Si</label>
               <input type="radio" name="divisionDepart" id="" value="no">
               <label for="">No</label>
            </td>
            <td>
                <mat-icon class="center-self">done</mat-icon>
            </td>   
        </tr>  
        <tr>
            <td>Pregunta 2</td>
            <td>
               <input type="radio" name="" id="">
               <label for="">Si</label>
               <input type="radio" name="" id="">
               <label for="">No</label>
            </td>
            <td>
                <mat-icon class="center-self">done</mat-icon>
            </td>   
        </tr>               
  


    </tbody>
</table>
<button>Next</button>
