<h4>Parametro para Creación de Ambiente</h4>

<form>

    <div class="container-1">
        <p>¿Qué frecuencia de pago tiene su nómina?</p>   
        <article>
            <div class="input-group">
                <input type="checkbox" name="frecuenciaNM" id="" >
                <label for="">Semanal</label>
            </div>
            <div class="input-group">
                <input type="checkbox" name="frecuenciaNM" id="">
                <label for="">Catorcenal</label>
    
            </div>
            <div class="input-group">
                <input type="checkbox" name="frecuenciaNM" id="">
                <label for="">Quincenal</label>
            </div>
            <div class="input-group">

                <input type="checkbox" name="frecuenciaNM" id="">
                <label for="">Mensual</label>
            </div>
            <input type="text" name="" id="">
        </article>
    </div>
    <div class="container-2">
            <div class="tipo-personal">
                <h4>Tipo de Personal</h4>
                <div class="input-group">
                    <input type="checkbox" name="tipoPersona" id="" >
                    <label for="">Sindicalizado</label>
                </div>
                <div class="input-group">
                    <input type="checkbox" name="tipoPersona" id="">
                    <label for="">Administrativo</label>
        
                </div>
                <div class="input-group">
                    <input type="checkbox" name="tipoPersona" id="">
                    <label for="">opcion 3</label>
                </div>
                <div class="input-group">
    
                    <input type="checkbox" name="tipoPersona" id="">
                    <label for="">Opcion 4</label>
                </div>

            </div>
            <div class="lugar-pago">
                <h4>Lugar de Pago ISN</h4>
                <select name="isn" id="">
                    <option value="1">Option 1</option>

                </select>
            </div>
    </div>
<button>Next</button>
</form>
