<h4>Registro Patronales</h4>
<div class="icon">
    <mat-icon class="center-self">add</mat-icon>
</div>

<table >
    <thead>
        <tr>
          
            <th>Registro Patronal</th>
            <th>Actividad</th>
            <th>% Riesgo</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td> <a href="">YW09242</a> </td>
            <td>Admin</td>
            <td>1%</td>
            <td><mat-icon class="center-self">delete</mat-icon></td>
        </tr>

    </tbody>
</table>
<button>Next</button>