<!-- <ul>
    <li><a routerLink="pantalla1">Pantalla 1 </a></li>
    <li><a routerLink="pantalla2">Pantalla 2 </a></li>
    <li><a routerLink="pantalla3">Pantalla 3 </a></li>
    <li><a routerLink="pantalla4">Pantalla 4 </a></li>
    <li><a routerLink="pantalla5">Pantalla 5 </a></li>
    <li><a routerLink="pantalla6">Pantalla 6 </a></li>
   <li><a routerLink="pantalla7">Pantalla 7 </a></li>
     <li><a routerLink="pantalla8">Pantalla 8 </a></li>
     <li><a routerLink="pantalla9">Pantalla 9 </a></li>
     <li><a routerLink="pantalla10">Pantalla 10 </a></li>
     <li><a routerLink="pantalla11">Pantalla 11 </a></li>
     <li><a routerLink="pantalla12">Pantalla 12 </a></li>
     <li><a routerLink="pantalla13">Pantalla 13 </a></li>
     <li><a routerLink="pantalla14">Pantalla 14 </a></li>
</ul> -->

<div class="formularios" [ngStyle]="estilos" >
  <app-pantalla1 class="hijo" ></app-pantalla1>
  <app-pantalla2 class="hijo"></app-pantalla2>
  <app-pantalla3 class="hijo"></app-pantalla3>
  <app-pantalla4 class="hijo"></app-pantalla4>
  <app-pantalla5 class="hijo"></app-pantalla5>
  <app-pantalla6 class="hijo"></app-pantalla6>
  <app-pantalla7 class="hijo"></app-pantalla7>
  <app-pantalla8 class="hijo"></app-pantalla8>
  <app-pantalla9 class="hijo"></app-pantalla9>
  <app-pantalla10 class="hijo"></app-pantalla10>
  <app-pantalla11 class="hijo"></app-pantalla11>
  <app-pantalla12 class="hijo"></app-pantalla12>
  <app-pantalla13 class="hijo"></app-pantalla13>
  <app-pantalla14 class="hijo"></app-pantalla14>
</div>
<button>Next</button>