<form>
        <h4>Datos de la Compañia</h4>

    <div class="form-group">
        <label>Tipo de Persona</label>
          <div class="aling-radio">
            
            <input type="radio" name="tipoPersona" id="" value="F">
            <label for="">Fisica</label>
           
            <input type="radio" name="tipoPersona" id="" value="M">
            <label for="">Moral</label>

          </div>
            
    </div>        
    <div class="form-group">
        <label>Razon Social:</label>
        <input type="text" name="" id="">
    
    </div>        
    
    <div class="form-group">
        <label>CURP:</label>
        <input type="text" name="" id="">
    
    </div>        
    <div class="form-group">
        <label>RFC:</label>
        <input type="text" name="" id="">
    </div>        
    
    <div class="form-group">
        <label>Giro:</label>
        <input type="text" name="" id="">
    </div>        
    
        <button>Next</button>

</form>
