:host{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}
form{
    width: 80%;
    height: 23em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
 
    
}
.form-group{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    justify-content: center;
}

.form-group > input,select{
    min-height: 1.5em;
    width: 57%;
    margin: 0;
    padding: 0;
}
button{
    align-self: flex-end;
    margin: 0px 10px 10px 0px;
    border-radius: 8px;
    background-color: rgb(24, 147, 230);
    color: #fff;
    border: none;
    min-width: 7em;
    margin-top: auto;
}
.form-group > label{

  width: 220px;
    text-align: right;
    left: 0;
    margin-right: 100px;

} 
/* h4{
    align-self: center;
} */