<h4>Registros Patronales - Agregar</h4>
<form>
   
       
<div class="form-group">
    <label>Registro Patronal:</label>
    <input type="text" name="registroPatronal" id="">

</div>        

<div class="form-group">
    <label>Codigo Postal:</label>
    <input type="number" name="CP" id="">

</div>        
<div class="form-group">
    <label>Estado:</label>
    <select name="estado" id="">
        <option value="0">Opcion 1</option>
    </select>
</div>        

<div class="form-group">
    <label>Municipio:</label>
    <select name="Municipio" id="">
        <option value="0">Opcion 1</option>
    </select>
</div>   

<div class="form-group">
    <label>Calle y Numero:</label>
    <input type="text" name="calleNum" id="">

</div>        

<div class="form-group">
    <label>Colonia:</label>
    <input type="text" name="col" id="">

</div>        
<div class="form-group">
    <label>Actividad o Giro:</label>
    <input type="text" name="giro" id="">
</div>        

<div class="form-group">
    <label>% Riesgo de Trabajo:</label>
    <input type="text" name="riesgo" id="">
</div>   
<div class="form-group">
    <label>Clase de Riesgo:</label>
    <input type="text" name="claseRiesgo" id="">

</div>        

<div class="form-group">
    <label>Delegacion IMSS:</label>
    <input type="text" name="delegacion" id="">

</div>        
<div class="form-group">
    <label>Subdelegacion IMSS:</label>
    <input type="text" name="SubDelegacion" id="">
</div>        

<div class="form-group">
    <label>Representante legal:</label>
    <input type="text" name="representante" id="">
</div>   



    <button>Next</button>

</form>
