<h4>Conceptos de Nomina</h4>


<table >
    <thead>
        <tr>
          
            <th>Cve Nomitek</th>
            <th>Tipo</th>
            <th>Texto para impresión</th>
            <th>Filtro 1</th>
            <th>Filtro 2</th>
            <th>Filtro 3</th>
         
        </tr>

    </thead>
    <tbody>
        <tr>
   
        
            <td>
                1000
            </td>  
            <td>
                Percepción
            </td>  
            <td>
                Sueldo
            </td>  
            <td>
                <table>
                    <tr>
                        <td>Semanal</td>
               
                    </tr>
                    <tr>
                        <td>Catorcenal</td>
                       
                    </tr>
                    <tr>
                        <td>Quincenal</td>
                
                    </tr>
                </table>
    
            </td>  
            <td>
                <table>
                    <tr>
                        <td></td>
               
                    </tr>
                    <tr>
                        <td></td>
                       
                    </tr>
                    <tr>
                        <td></td>
                
                    </tr>
                </table>
    
            </td>  
            <td>
                <table>
                    <tr>
                        <td><select name="" id=""><option value="">Option</option></select></td>
               
                    </tr>
                    <tr>
                        <td><select name="" id=""><option value="">Option</option></select></td>
                       
                    </tr>
                    <tr>
                        <td><select name="" id=""><option value="">Option</option></select></td>
                
                    </tr>
                </table>
    
            </td>  
            
         </tr>        


    </tbody>
</table>
<button>Next</button>
